.footer-block{
    height: 250px;
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.footer-block a {
    color: white;
    text-decoration: none;
}

.footer-signature {
    align-items: center;
    justify-content: flex-end;
}

.signature {
    font-size: smaller;
    text-align: center;
}

@media screen and (max-width: 720px) {
    .footer-block{
        height: 75px;
        display: block;
    }
    .footer-block a{
        padding: 5px;
    }
    .footer-block h3 {
        margin: 5px;
    }
}